@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Latar Belakang & Teks (Monokrom) */
    --background: 0 0% 98%; /* Putih Abu terang */
    --foreground: 222 47% 11%; /* Midnight Black */

    /* Area Kartu UI */
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    /* Tema Utama: Midnight (Hitam/Dark Slate) */
    --primary: 222 47% 11%;
    --primary-foreground: 0 0% 100%;

    /* Aksen Utama: Volt (Kuning Neon) menggantikan Ungu */
    --accent: 65 100% 50%; /* Hex: #ccff00 */
    --accent-foreground: 222 47% 11%; /* Teks gelap di atas Neon */

    /* Warna Destruktif */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* Garis dan Input (Monokrom) */
    --border: 214.3 31.8% 91.4%;
    --ring: 65 100% 50%;

    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}